<h2>Original Image<h2>
<img src="../image/?url=http%3a%2f%2fjobsify.in%2ftest.jpg" />

<h2>Resize<h2>
<img src="../image/?url=http%3a%2f%2fjobsify.in%2ftest.jpg&resize=1&height=120" />

<h2>Grayscale<h2>
<img src="../image/?url=http%3a%2f%2fjobsify.in%2ftest.jpg&grayscale=1" />

<h2>PNG Conversion<h2>
<img src="../image/?url=http%3a%2f%2fjobsify.in%2ftest.jpg&format=png" />

<h2>Resize + Grayscale + GIF Conversion<h2>
<img src="../image/?url=http%3a%2f%2fjobsify.in%2ftest.jpg&format=gif&resize=1&height=210&grayscale=1" />