<h2>Original Image<h2>
<img src="../image/?url=examples/images/test.jpg" />

<h2>Resize<h2>
<img src="../image/?url=examples/images/test.jpg&resize=1&height=120" />

<h2>Grayscale<h2>
<img src="../image/?url=examples/images/test.jpg&grayscale=1" />

<h2>PNG Conversion<h2>
<img src="../image/?url=examples/images/test.jpg&format=png" />

<h2>Resize + Grayscale + GIF Conversion<h2>
<img src="../image/?url=examples/images/test.jpg&format=gif&resize=1&height=210&grayscale=1" />