<h2>Original Image<h2>
<img src="../image/?url=http%3A%2F%2Flocalhost%3A3000%2Fimages%2Ftest.jpg" />

<h2>Resize<h2>
<img src="../image/?url=http%3A%2F%2Flocalhost%3A3000%2Fimages%2Ftest.jpg&resize=1&height=120" />

<h2>Grayscale<h2>
<img src="../image/?url=http%3A%2F%2Flocalhost%3A3000%2Fimages%2Ftest.jpg&grayscale=1" />

<h2>PNG Conversion<h2>
<img src="../image/?url=http%3A%2F%2Flocalhost%3A3000%2Fimages%2Ftest.jpg&format=png" />

<h2>Resize + Grayscale + GIF Conversion<h2>
<img src="../image/?url=http%3A%2F%2Flocalhost%3A3000%2Fimages%2Ftest.jpg&format=gif&resize=1&height=210&grayscale=1" />